.parallax {
  overflow: hidden;
}

.mountains {
  background-image: url("../../assets/mountains.png");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.planets {
  background-image: url("../../assets/planets.png");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.stars {
  background-image: url("../../assets/stars.png");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
