@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #0c0c1d;
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
}

.bg-gradient-primary {
  background: linear-gradient(180deg, #0c0c1d, #111132);
}
